<p id="notice"><%= notice %></p>



<p>
  <strong>Empresa:</strong>
  <%= @recrutador.empresa %>
</p>

<%= link_to 'Editar', edit_recrutador_path(@recrutador) %> |
<%= link_to 'Voltar', recrutadors_path %>
